/SentenceAPI/request_log.txt
/SentenceAPI/log.txt
/SentenceAPI/mongo_database_config.json
/.vs
/.vscode
/SentenceAPI/bin/
/SentenceAPI/obj/
/DataAccessLayer/bin
/DataAccessLayerTests/bin
/SentenceApiTests/bin
/DataAccessLayerTests/obj
/SentenceApiTests/obj
/DataAccessLayer/obj
bin
obj
/DocumentAPI/bin
log
/SharedLibrary/bin
/SharedLibrary/obj

